.home-greeting {
  font-family: 'Bobby Jones Soft';
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.home-cat-image {
  width: 500px;
  height: 80px;
}

.ideas-title {
  font-size: 25px;
  color: black;
  margin-top: 0px
}

.home-ideas {
  font-family: 'Bobby Jones Condensed';
  height: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-name {
  font-size: 20px;
  margin: 10px;
}

.book-price {
  font-size: 25px;
  margin: 20px;
}

.page-description {
  font-family: 'Bobby Jones Condensed';
  font-size: 20px;
  width: 90%;
  text-align: left;
  margin: auto;
  text-align: center;
}

.page-title {
  font-family: 'Bobby Jones Condensed';
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.price-container {
  display: flex;
  align-items: center;
}

.dot-red {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #cf0f0f;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #2a9635;
  border-radius: 50%;
  display: inline-block;
}

.dot-orange {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #ec5d20;
  border-radius: 50%;
  display: inline-block;
}

.dot-blue {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #0f4fcf;
  border-radius: 50%;
  display: inline-block;
}

.dot-purple {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #8f0fcf;
  border-radius: 50%;
  display: inline-block;
}

.dot-yellow {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #f9ed07;
  border-radius: 50%;
  display: inline-block;
}

.dot-white {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  border: 1px solid lightgrey;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.dot-black {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}

.refine-button {
  font-family: 'Bobby Jones Condensed';
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid grey;
  background-color: white;
}

.small-cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-items-container,
.checkout-container {
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
}

.cart-delete {
  height: 50px;
  margin: 5px;
}

.cart-item-container {
  display: flex;
  align-items: center;
  font-family: 'Bobby Jones Condensed';
}

.cart-item-info {
  margin: 5px;
  font-size: 25px;
}

.cart-image {
  height: 100px;
  margin: 5px;
}

.refine-button:hover {
  border: 2px solid #4e2375;
}

.uncheck-button {
  font-family: 'Bobby Jones Condensed';
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid grey;
}

.uncheck-button:hover {
  border: 1px solid #4e2375;;
}

.refine-container {
  margin-bottom: 0px;
}

.filter-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  border: 1px solid rgb(175, 175, 175);
  margin: 5px;
}

input[type=checkbox] {
  width: 1.1em;
  height: 1.1em;
  accent-color: #4e2375;
}

.price-container {
  display: flex;
  margin: 10px;
  font-size: 18px;
}

.yarn-container {
  display: flex;
  font-family: 'Bobby Jones Condensed';
}

.book-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.refine-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.refine-values {
  border: 2px #4e2375 solid;
  padding: 10px;
  width: fit-content;
  margin: 10px;
}

.book-image {
  width: 100%;
}

.yarn-image {
  width: 250px;
  height: 250px;
}

.yarn-induvidual-container {
  display: flex;
}

.yarn-induvidual-image-container {
  width: 50%;
}

.yarn-induvidual-detail-container {
  display: flex;
  font-family: 'Bobby Jones Condensed';
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 50px;
  justify-content: flex-start;
}

.yarn-ind-image {
  width: 430px;
  height: 520px;
  margin: 50px;
  box-shadow: 5px 5px 5px 5px rgb(213, 209, 209);
}

.add-to-cart {
  font-family: 'Bobby Jones Condensed';
  width: 200px;
  cursor: pointer;
  font-size: 25px;
  background-color: #ab8fca;
  color: white;
  border: 2px black solid;
  border-radius: 20px;
}

.ind-name {
  margin: 0px;
  font-size: 35px;
}

.ind-brand {
  margin-top: 0px;
  font-size: 20px;
}

.ind-price {
  font-size: 35px;
  color: rgb(0, 0, 0);
  margin-top: 0px;
}


.small-book-container {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 3px 3px rgb(223, 220, 220);
  font-family: 'Bobby Jones Condensed';
  text-decoration: none;
  color: black;
}


.small-book-container:hover {
  box-shadow: 3px 3px 3px 3px rgb(172, 169, 169);
}

.go-back {
  height: 45px;
  padding: 10px;
}

.go-home-container {
  font-family: 'Bobby Jones Condensed';
  display: flex;
  justify-content: flex-start;
}

.lion-brand-link,
.crochet-book-link,
.knitting-needle-link {
  width: 370px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgb(216, 211, 211);
  border: 1px solid rgb(222, 218, 218);
  margin: 40px;
  margin-bottom: 11px;
  margin-top: 10px;
  height: 250px;
  transition: all .2s ease-in-out;
}

.lion-brand-link:hover,
.crochet-book-link:hover,
.knitting-needle-link:hover {
  transform: scale(1.1);
}