/*HomePage*/

.home-greeting {
  font-family: 'Bobby Jones Soft';
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.home-cat-image {
  width: 500px;
  height: 80px;
}

.home-ideas {
  font-family: 'Bobby Jones Condensed';
  height: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lion-brand-link,
.crochet-book-link,
.knitting-needle-link {
  width: 370px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgb(216, 211, 211);
  border: 1px solid rgb(222, 218, 218);
  margin: 40px;
  margin-bottom: 11px;
  margin-top: 10px;
  height: 250px;
  transition: all .2s ease-in-out;
}

.lion-brand-link:hover,
.crochet-book-link:hover,
.knitting-needle-link:hover {
  transform: scale(1.1);
}

/*Login/Create Account Page*/

.not-valid-account,
.login-success {
  font-family: 'Bobby Jones Condensed';
}

.login-success {
  font-size: 25px;
  width: 80%;
}


.login-suggest {
  font-family: 'Bobby Jones Condensed';
  font-size: 20px;
  margin: 5px;
}

.cart-login-warning {
  font-style: italic;
  margin: 8px;
}

.empty-suggest {
  font-family: 'Bobby Jones Condensed';
  font-size: 20px;
  color: red;
  margin: 5px;
}

.create-account-link,
.login-link {
  color: #4e2375;
}

.login-kitten {
  height: 100px;
  margin-left: 20px;
}


input[type="email"],
input[type="password"] {
  width: 250px;
  font-size: 25px;
  height: 30px;
}

.hidden {
  margin: 5px;
}

.password-container2 {
  margin: 10px;
  display: flex;
  align-items: flex-start;
}

.password {
  margin: 5px;
  display: flex;
  align-content: center;
  justify-items: center;
}

.login-top {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  width: 150px;
  margin-left: 10px;
  font-size: 25px;
  height: 30px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.required {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.login-submit {
  font-family: 'Bobby Jones Condensed';
  font-size: 35px;
  cursor: pointer;
  background-color: #4e2375;
  color: white;
  box-shadow: 4px 4px 4px lightgrey;
  border: 1px solid lightgrey;
}

.account-info-container {
  font-family: 'Bobby Jones Condensed';
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.account-info-container2 {
  font-family: 'Bobby Jones Condensed';
  font-size: 25px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.login-create {
  font-size: 20px;
  font-family: 'Bobby Jones Condensed';
}

.first {
  font-size: 20px;
}

.email-container,
.password-container {
  width: 450px;
  display: flex;
  align-items: center;
  font-family: 'Bobby Jones Condensed';
  font-size: 35px;
  justify-content: space-between;
  margin: 30px;
}

.login-welcome {
  font-size: 45px;
  display: flex;
  margin: 5px;
  align-items: center;
  font-family: 'Bobby Jones Condensed';
}

form {
  border: 5px solid #4e2375;
  padding: 10px;
  width: 600px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Search Page*/

.no-results {
  font-family: 'Bobby Jones Condensed';
  font-size: 30px;
}

.search-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bobby Jones Condensed';
  font-size: 55px;
  margin: 25px;
}

.search-bar {
  width: 500px;
  height: 50px;
  font-family: 'Bobby Jones Condensed';
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.find-button {
  font-family: 'Bobby Jones Condensed';
  font-size: 35px;
  margin: 10px;
  cursor: pointer;
  background-color: #4e2375;
  color: white;
  box-shadow: 4px 4px 4px lightgrey;
  border: 1px solid lightgrey;
}

.search-container {
  width: 80%;
  margin: 0 auto;
}

.search-cat {
  height: 60px;
}

/*Yarn Page*/

.page-title {
  font-family: 'Bobby Jones Condensed';
  font-size: 32px;
  text-align: center;
  margin-bottom: 25px;
}

.price-container {
  display: flex;
  align-items: center;
}

.dot-red {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #cf0f0f;
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #2a9635;
  border-radius: 50%;
  display: inline-block;
}

.dot-orange {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #ec5d20;
  border-radius: 50%;
  display: inline-block;
}

.dot-blue {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #0f4fcf;
  border-radius: 50%;
  display: inline-block;
}

.dot-purple {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #8f0fcf;
  border-radius: 50%;
  display: inline-block;
}

.dot-yellow {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #f9ed07;
  border-radius: 50%;
  display: inline-block;
}

.dot-white {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  border: 1px solid lightgrey;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.dot-black {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}

.refine-button {
  font-family: 'Bobby Jones Condensed';
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid grey;
  background-color: white;
}

/*Book*/

.ideas-title {
  font-size: 25px;
  color: black;
  margin-top: 0px
}

.book-name {
  font-size: 20px;
  margin: 10px;
}

.book-price {
  font-size: 25px;
  margin: 20px;
}

.page-description {
  font-family: 'Bobby Jones Condensed';
  font-size: 20px;
  width: 90%;
  text-align: left;
  margin: auto;
  text-align: center;
}

/*Cart Page*/

.promo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-container {
  width: 45%;
}

.promo {
  margin: 20px;
}

.promo-input {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-items-container {
  width: 55%;
}

.cart-delete {
  height: 50px;
  cursor: pointer;
  margin: 5px;
}

.big-cart-container {
  font-family: 'Bobby Jones Condensed';
}

.no-items {
  font-size: 25px;
}

.cart-title {
  font-size: 35px;
  margin: 10px;
}

.checkout-title {
  font-size: 30px;
  margin: 0px;
}

.small-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-promo {
  font-family: 'Bobby Jones Condensed';
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  background-color: #4e2375;
  color: white;
  box-shadow: 4px 4px 4px lightgrey;
  border: 1px solid lightgrey;
}

.all-products-container {
  font-family: 'Bobby Jones Condensed';
  font-size: 25px;
  text-align: center;
}

.filtering-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  font-family: 'Bobby Jones Condensed';
  font-size: 22px;
}

.lol,
.lol2 {
  text-decoration: underline;
}

.top-container {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: space-between;
}

.product-length {
  text-decoration: underline;
  text-align: left;
  margin-left: 5px;
  font-size: 18px;
  font-family: 'Bobby Jones Condensed';
}

.close-filter {
  height: 15px;
}

.ui-sort,
.filter-items {
  margin: 10px;
}

.close-container {
  display: flex;
  align-items: center;
}

.detail-container {
  font-size: 20px;
  font-family: 'Bobby Jones Condensed';
}

.add-cart-container {
  display: flex;
  margin-top: 10px;
}

.cart-cat {
  height: 100px;
}

.ind-description {
  font-size: 22px;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.filter-button {
  font-family: 'Bobby Jones Condensed';
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
  background-color: #4e2375;
  color: white;
  box-shadow: 4px 4px 4px lightgrey;
  border: 1px solid lightgrey;
}


.filter-button1 {
  font-family: 'Bobby Jones Condensed';
  font-size: 22px;
  margin: 5px;
  cursor: pointer;
  background-color: #9167a7;
  color: white;
  box-shadow: 4px 4px 4px lightgrey;
  border: 1px solid lightgrey;
}

.filter-button1:hover {
  background-color: #4e2375;
}

.cart-items-container,
.checkout-container {
  margin: 20px;
  padding: 20px;
  border: 3px double lightgrey;
}

.cart-item-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Bobby Jones Condensed';
}

.promo-button {
  font-family: 'Bobby Jones Condensed';
  font-size: 20px;
  cursor: pointer;
  background-color: #4e2375;
  color: white;
  box-shadow: 4px 4px 4px lightgrey;
  border: 1px solid lightgrey;
}

.cart-item-info {
  margin: 5px;
  font-size: 25px;
}

/*SingleProduct Page*/

.return-button {
  font-family: 'Bobby Jones Condensed';
  font-size: 25px;
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: #4e2375;
  color: white;
  box-shadow: 4px 4px 4px lightgrey;
  border: 1px solid lightgrey;
}

@keyframes gelatine {

  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  85% {
    transform: scale(0.95, 1.05);
  }
}

.added-item-confirmation {
  font-size: 25px;
  margin: 5px;
  animation: gelatine 0.5s infinite;
}

p.first {
  margin-top: 0px;
}


.new-price {
  color: rgb(224, 18, 18);
  margin: 5px;
}

.success-promo {
  font-size: 18px;
  font-style: italic;
  margin: 0px;
}

.show-button {
  font-family: 'Bobby Jones Condensed';
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: #4e2375;
  color: white;
  box-shadow: 4px 4px 4px lightgrey;
  border: 1px solid lightgrey;
}


.cart-image {
  height: 100px;
  margin: 5px;
}

.refine-button:hover {
  border: 2px solid #4e2375;
}

.uncheck-button {
  font-family: 'Bobby Jones Condensed';
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid grey;
}

.uncheck-button:hover {
  border: 1px solid #4e2375;
  ;
}

.refine-container {
  margin-bottom: 0px;
}

.data-loading {
  font-family: 'Bobby Jones Condensed';
  font-size: 20px;
}

.filter-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  border: 1px solid rgb(175, 175, 175);
  margin: 5px;
}

input[type=checkbox] {
  width: 1.1em;
  height: 1.1em;
  accent-color: #4e2375;
}

.price-container {
  display: flex;
  margin: 10px;
  font-size: 18px;
}

.yarn-container {
  display: flex;
  font-family: 'Bobby Jones Condensed';
}

.book-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.refine-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.refine-values {
  border: 2px #4e2375 solid;
  padding: 10px;
  width: fit-content;
  margin: 10px;
}

.book-image {
  width: 100%;
}

.yarn-image {
  width: 250px;
  height: 250px;
}

.yarn-induvidual-container {
  display: flex;
}

.yarn-induvidual-image-container {
  width: 50%;
}

.yarn-induvidual-detail-container {
  display: flex;
  font-family: 'Bobby Jones Condensed';
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 20px;
  justify-content: flex-start;
}

.yarn-ind-image {
  width: 430px;
  height: 520px;
  margin: 20px;
  box-shadow: 5px 5px 5px 5px rgb(213, 209, 209);
}

.add-to-cart {
  font-family: 'Bobby Jones Condensed';
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  background-color: #4e2375;
  color: white;
  box-shadow: 4px 4px 4px lightgrey;
  border: 1px solid lightgrey;
}

.ind-name {
  margin: 0px;
  font-size: 35px;
}

.ind-brand {
  margin: 0px;
  font-size: 20px;
}

.ind-price {
  font-size: 35px;
  color: rgb(0, 0, 0);
  margin: 20px;
}


.small-book-container {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 3px 3px rgb(223, 220, 220);
  font-family: 'Bobby Jones Condensed';
  text-decoration: none;
  color: black;
}


.small-book-container:hover {
  box-shadow: 3px 3px 3px 3px rgb(172, 169, 169);
}

.go-back {
  height: 45px;
  padding: 10px;
}

.go-home-container {
  font-family: 'Bobby Jones Condensed';
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 600px) {
  .login-welcome {
    font-size: 39px;
    flex-direction: column;
  }

 .email-container,
 .password-container {
  justify-content: center;
 }

 input[type="email"],
input[type="password"] {
  width: 180px;
  margin-left: 5px;
  font-size: 20px;
  height: 25px;
}


  .login-kitten {
    height: 80px;
  }

  form {
    width: 85%;
  }

  .checkout-container,
  .cart-items-container {
    width: 79%;
  }

  .search-bar-container {
    flex-direction: column;
  }

  .search-bar {
    width: 450px;
  }

  .book-image {
    width: 80%;
  }

  .small-book-container {
    display: flex;
    align-items: center;
  }

  .yarn-container {
    align-items: center;
    flex-direction: column;
  }

  .filter-items {
    display: flex;
    flex-direction: column;
  }

  .refine-label {
    font-size: 14px;
  }

  .filter-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 98%;
  }

  .filter-title {
    font-size: 15px;
  }

  .refine-button {
    font-size: 15px;
  }

  .uncheck-button {
    font-size: 15px;
  }
}

.lion-brand-link,
.crochet-book-link,
.knitting-needle-link {
  width: 320px;
  height: 240px;
}

@media only screen and (max-width: 900px) {

  .yarn-induvidual-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .yarn-induvidual-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .yarn-ind-image {
    width: 300px;
    height: 390px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px rgb(213, 209, 209);
  }

  .yarn-induvidual-detail-container {
    width: 80%;
  }
}