nav {
  font-family: 'Bobby Jones Soft';
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.nav-icon {
  width: 30px;
  background: none;
  border: none;
  margin: 10px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.discount {
  font-family: 'Bobby Jones Soft';
  background-color: #4e2375;
  color: white;
  font-size: 20px;
  margin: 0px;
  padding: 5px;
}

.search-icon {
  background: none;
  border: none;
}

.site-logo {
  width: 320px;
  margin-left: 10px;
  margin-right: 10px;
}

.topics-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%
}

.user-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nav-topics {
  font-size: 25px;
  margin: 20px;
  width: contain;
  text-decoration: none;
  color: #4e2375;
  background-image: linear-gradient(#181716, #454442);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.nav-topics:hover,
.nav-topics:active,
.nav-topics:focus {
  background-size: 100% 0.1em;
}
